html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
    text-align: center;
    /* background-color: green; */
    background-image: url("https://i.imgur.com/U8td6pm.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#dealer-hand, #player-hand {
    width: 40%;
    height: 30vh;
    /* border: 2px solid white; */
    margin: 10px;
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    color: white;
}

button {
    margin: 10px;
}